    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    .band {
        position: relative;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        opacity: 0.33;
    }
    
    .image img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        object-position: 50% 100%;
    }